/* You can add global styles to this file, and also import other style files */
.box{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
    margin: auto;
    padding: 50px;
}
